---
layout: page
title: Archive
---

<p class = "message">평범한 대학생의 Dev & Study Log &#x1F4DD;</p>

<div class="tags-expo">
  <div class="tags-expo-list">
    {% assign cnt = 0 %}
    {% for post in site.posts %}
      {% assign date = post.date | date: "%Y-%b" %}
      {% if forloop.first %}
        {% assign cur_date = date %}
      {% endif %}
      {% if cur_date != date %}
        <a href="#{{ cur_date }}" class="post-tag">{{ cur_date }}<strong><span style="font-size:.7rem; vertical-align:.15rem; margin-left:7px">{{ cnt }}</span></strong></a>
        {% assign cur_date = date %}
        {% assign cnt = 1 %}
      {% else %}
        {% assign cnt = cnt | plus: 1 %}
      {% endif %}
    {% endfor %}
    <a href="#{{ cur_date }}" class="post-tag">{{ cur_date }}<strong><span style="font-size:.7rem; vertical-align:.15rem; margin-left:7px">{{ cnt }}</span></strong></a>
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for post in site.posts %}
      {% assign date = post.date | date: "%Y-%b" %}
      {% if currentdate != date %}
        </ul> 
        <h2 id= "{{post.date | date: "%Y-%b"}}" >&#x1F4CB; {{ date }}</h2>
        {% assign currentdate = date %}
        <ul class="tags-expo-posts">
      {% endif %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          <strong>{{ post.title }}</strong>
          <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
        </a>
    {% endfor %}
  </div>
</div>
