---
layout: page
title: Archive
---

<p class="page-description">평범한 대학생의 Dev &amp Study Log</p>

<div class="tags-expo">
  <div class="tags-expo-list">
    {% assign cnt = 0 %}
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y-%b" %}
      {% assign cnt = cnt | plus: 1 %}
      {% if currentdate != date and forloop.index0 != 0 %}
        {% assign date = currentdate %}
        <a href="#{{ date | slugify }}" class="post-tag">{{ date }} <strong><span style="font-size:.7rem"> {{ cnt }}</span></strong></a>
        {% assign cnt = 0 %}
      {% endif%}
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y-%b" %}
      {% if currentdate != date %}
        <h2 id= "{{post.date | date: "%Y-%b"}}" >{{ currentdate }}</h2>
        {% assign date = currentdate %}
      {% endif %}
      <ul class="tags-expo-posts">
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          <strong>{{ post.title }}</strong>
          <small class="post-date">{{ post.date | date_to_string }}</small>
        </li>
        </a>
      </ul>
    {% endfor %}
  </div>
</div>
