/* Colors 
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
*/

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1:wght@600&family=Nanum+Gothic:wght@800&family=Noto+Sans+KR&family=Oxygen&family=Raleway:wght@800&family=Sunflower:wght@500&family=Ubuntu:wght@500&family=Varela+Round&display=swap');
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$white:      #fff;
$lightgrey:  #eee;
$black:      #000;

$theme-color: #1e90ff;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$title-color: #313131;
$masthead-title-small-color: #c0c0c0;

/* Layout */
$reverse-layout: false;
$overlay-sidebar: false;

/* Font stack */
$font-serif: "PT Serif", Georgia, "Times New Roman", sans-serif;
$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-font-awesome: FontAwesome;
