/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

@media screen and (max-width: 991px) {
  .container {
    &.content {
      padding-top: 6.5rem;
    }
    a {
      @if $theme-color != $default { color: $theme-color; }
    }
  }
}
@media screen and (min-width: 991px) {
  .container {
    margin: 0 10rem;
      &.content {
    padding-top: 6.5rem;
  }
  }

}

