/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 56rem;
  &.content {
    padding-top: 6.5rem;
  }
  a {
    @if $theme-color != $default { color: $theme-color; }
  }
}
@media (min-width: 70em) {
  .container {
    max-width: 64rem;
    &.content {
      padding-top: 6.5rem;
    }
  }
}
@media (min-width: 80em) {
  .container {
    max-width: 74rem;
  }
}

